<!DOCTYPE html>
<html lang="en">
<head>
  <title>Educurve</title>
  <meta charset="utf-8">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- custom links-->
    <link href="static/css/main.css" rel="stylesheet">
    <script src="static/js/main.js"></script>
    <!-- end of custom links-->
    <br>
    <center class="title">EDUCURVE</center>
    <br>
</head>
<body>
<table width="100%">
    <tr>
        <td width="20%"></td>
        <td width="60%">